# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native build artifacts
*.apk
*.aab
*.apks
/ios
/android

# Environment files
.env*.local
.env
env_local.txt
env-prod.txt

# Local workspace files
01/
json.txt

# macOS
.DS_Store

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
